@model SandBox.Models.ItemVM

@using (Html.BeginForm("SelectModel"))
{
    <div class="panel-heading"><h3>Models:</h3></div>

    <div class="panel panel-default btn-group">
        @foreach (var itemNumber in Model.itemNumbersFull)
        {
            if (itemNumber == (int)Session["SelectedModelNumber"])
            {
                @Html.ActionLink(itemNumber.ToString(), "SelectModel",
                new { id = itemNumber }, new { @class = "btn btn-success" });
            }
            else
            {
                @Html.ActionLink(itemNumber.ToString(), "SelectModel",
                new { id = itemNumber }, new { @class = "btn btn-default" });
            }
        }
    </div>

    if (Session["SelectedModelNumber"] != null)
    {
        <br />
        <div class="panel panel-default btn-group">
            @foreach (var itemColor in Model.itemColors[(int)Session["SelectedModelNumber"]])
            {
                if (itemColor == (string)Session["SelectedColor"])
                {
                    @Html.ActionLink(itemColor, "SelectColor",
                new { id = itemColor }, new { @class = "btn btn-success" });
                }
                else
                {
                    @Html.ActionLink(itemColor, "SelectColor",
                    new { id = itemColor }, new { @class = "btn btn-default" });
                }
            }
        </div>
    }
    if (Session["SelectedColor"] != null)
    {
        <br />
        <div class="panel panel-default btn-group">
            @foreach (var itemSize in Model.itemSizes[(int)Session["SelectedModelNumber"]])
            {
                @Html.ActionLink(itemSize.ToString(), "SelectSize", new { id = itemSize },
                new { @class = "btn btn-default" });
            }
        </div>
    }


    @*<div class="panel">
            <p>
                <span style="font-size:x-large">Selected:</span>
                <br />
                model: @Session["SelectedModelNumber"]
                <br />
                color: @Session["SelectedColor"]
            </p>
        </div>*@
}
