@model SandBox.Models.ItemVM<SandBox.Models.StoreItem>

@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store: </h2>

<div>
    <div class="col-xs-6">

        <h2>On stock:</h2>
        <div class="col-xs-8">
            @Html.ActionLink("to Warehouse view", "Index", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Add items", "AddToTailoringWh", null, new { @class = "btn btn-default" })
        </div>
        <div class="col-xs-2">
            <label style="font-size:large">Modifier:</label>
        </div>
        <div class="col-xs-2">
            <input type="number" class="form-control" value="1" />
        </div>
    </div>

    <div class="col-xs-6">

        <h2>Selected: </h2>
        @Html.ActionLink("Move to Warehouse", "MoveItemsToWh", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Clear list", "ClearOrderList", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Another btn", "MoveI1temsToStore", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Another btn", "MoveI1temsToStore", null, new { @class = "btn btn-default" })
    </div>
</div>
<div>
    <div class="col-xs-6">
        <br />
        @Html.Partial("SizeColTablePartial", Model);
    </div>
    <div class="col-xs-6">
        <br />
        @if (Session["OrderListStore"] != null && ((List<SandBox.Models.StoreItem>)Session["OrderListStore"]).Count != 0)
        {
            @Html.Partial("SizeColTableForPreOrder", (SandBox.Models.ItemVM<SandBox.Models.StoreItem>)Session["OrderToViewStore"])
        }
    </div>
</div>