@model SandBox.Models.ItemVM<SandBox.Models.WarehouseItem>


@foreach (var modelNumber in Model.itemNumbers.OrderBy(x => x))
{
    <div>
        <table class="table table-condensed table-bordered" >
            <tr>
                <th>@modelNumber</th>
                @foreach (var size in Model.itemSizes[modelNumber])
                {
                    <th style="text-align:center">@size</th>
                }
            </tr>
            @foreach (var color in Model.itemColors[modelNumber])
            {
                <tr>
                    <th>
                        <button class="btn btn-default">@color</button>
                    </th>
                    @{

                //Warning!: some dangerous magic detected
                int prev = Model.itemSizes[modelNumber].Min();
                int curr = 0;
                int index = 1;
                bool firstNotDisplayed = true;
                SandBox.Models.WarehouseItem targetItem = new SandBox.Models.WarehouseItem(); 

                foreach (var whItem in Model.itemsList[modelNumber].Where(x => x.Color == color))
                {
                    curr = whItem.Size;
                    if (Session["OrderList"] != null)
                    {
                        targetItem = ((List<SandBox.Models.WarehouseItem>)Session["OrderList"])
                        .FirstOrDefault(
                        x => x.ItemNumber == modelNumber
                            && x.Color == color
                            && x.Size == whItem.Size);
                    }

                    if ((curr - prev) != 2 || ((curr - prev) == 2
                        && firstNotDisplayed))
                    {
                        if (firstNotDisplayed && curr - Model.itemSizes[modelNumber].Min() == 2
                            || firstNotDisplayed && curr - Model.itemSizes[modelNumber].Min() >= 4)
                        {
                            <td></td>
                        }

                        int emptyTdCount = ((curr - prev) / 2) - 1;
                        for (int i = 0; i < emptyTdCount; i++)
                        {
                            <td></td>
                        }

                        if (targetItem != null)
                        {
                            <td style="text-align:center">
                                @Html.ActionLink((whItem.Quantity - targetItem.Quantity).ToString(),
                                                 "PickItem",
                                                 new { model = modelNumber, color = color, size = whItem.Size },
                                                 new { @class = "btn btn-default" })
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">
                                @Html.ActionLink(whItem.Quantity.ToString(),
                                                 "PickItem",
                                                 new { model = modelNumber, color = color, size = whItem.Size },
                                                 new { @class = "btn btn-default" })
                            </td>
                        }


                        firstNotDisplayed = false;
                    }
                    else
                    {
                        if (targetItem != null)
                        {
                            <td style="text-align:center">
                                @Html.ActionLink((whItem.Quantity - targetItem.Quantity).ToString(),
                                "PickItem",
                                new { model = modelNumber, color = color, size = whItem.Size },
                                new { @class = "btn btn-default" })
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">
                                @Html.ActionLink(whItem.Quantity.ToString(), "PickItem",
                                new { model = modelNumber, color = color, size = whItem.Size },
                                new { @class = "btn btn-default" })
                            </td>
                        }
                        firstNotDisplayed = false;
                    }

                    prev = curr;
                    index++;
                }
                    }
                </tr>
            }
        </table>

    </div>
}

