@model SandBox.Models.ItemVM<SandBox.Models.StoreItem>
@{
    ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Order:</h2>
<div>
    @using (Html.BeginForm("AddOrder"))
    {
        <label for="telNo">Phone #:</label>
        @Html.TextBox("telNo", null, new { @class = "form-control" })
        <br />
    }

    @foreach (var itemNumber in Model.itemNumbers)
    {
        if ((int?)Session["pickedModelNumber"] == itemNumber)
        {
            @Html.ActionLink(itemNumber.ToString(), "PickModelNumber",
                new { itemNumb = itemNumber }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink(itemNumber.ToString(), "PickModelNumber",
                new { itemNumb = itemNumber }, new { @class = "btn btn-default" })
        }
    }
    <br />
    <div class="col-lg-6 panel panel-body">
        @if (Session["pickedModelNumber"] != null)
        {
            @Html.Partial("SizeColTablePartialExtended", Model.itemsList[(int)Session["pickedModelNumber"]])
        }
    </div>

    <div class="col-lg-6 panel panel-body">
        @if (Session["OrdersListToView"] != null)
        {
            @Html.Partial("SizeColTableForPreOrder",
            (SandBox.Models.ItemVM<SandBox.Models.WarehouseItem>)Session["OrdersListToView"])
        }
    </div>



</div>
